@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap");

:root {
  --primary: #f2c94c;
  --black: #333333;
  --red: #ff0000;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Serif", serif;
  margin: 0rem;
  padding: 0rem;
}
.heading-center {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
nav {
  background-color: var(--primary);
}
.header-img,
.text-area,
.btn {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header-img {
  height: 40vh;
}

.text-area {
  margin: 0.7rem;
}
#input-text,
#output-text {
  width: 60vw;
  height: 20vh;
  margin: 1rem;
}

.p-center {
  text-align: center;
}
#error-text {
  color: var(--red);
}

.btn button {
  background-color: var(--primary);
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
}
footer {
  background-color: var(--primary);
}
.footer-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.5rem;
}
.footer-content {
  padding: 0.7rem;
  text-align: center;
  line-break: auto;
}
